body{
    background-image: radial-gradient(rgb(158, 0, 0) 25%, rgb(0, 0, 0) 60%);
    text-align: center
}

.el{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.log{
    width: 250px;
    height: 250px;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}

p{
    color: aliceblue;
    text-align: justify;
    font-family: monospace;
    margin: 25px 50px 75px 100px;
}

h1{
    color: aliceblue;
}

section{
    display: flex;
    width: 600px;
    height: 430px;
}

section img{
    width: 0;
    flex-grow: 1;
    opacity: .8;
    object-fit: cover;
    transition: .5s ease;
    filter: blur(5px);
}

section img:hover{
    cursor: crosshair;
    opacity: 1;
    width: 300px;
    filter: contrast(120%);

}